<meta charset="utf-8">
<title>{{ this.page.title }}</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet' type='text/css'>
<link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css' rel='stylesheet' type='text/css'>
<link href="{{ [
    'assets/less/vendor.less',
    'assets/vendor/sweetalert/sweetalert.css',
    '@framework.extras'
]|theme }}" rel="stylesheet">
<link href="{{ ['assets/less/theme.less']|theme }}" rel="stylesheet">
{% styles %}
