<!-- Name -->
<div class="form-group">
    <label class="col-md-4 control-label">Name</label>

    <div class="col-md-6">
        <input type="name" class="form-control" name="name">
    </div>
</div>

<!-- E-Mail Address -->
<div class="form-group">
    <label class="col-md-4 control-label">Email address</label>

    <div class="col-md-6">
        <input type="email" class="form-control" name="email">
    </div>
</div>

<!-- Password -->
<div class="form-group">
    <label class="col-md-4 control-label">Password</label>

    <div class="col-md-6">
        <input type="password" class="form-control" name="password">
    </div>
</div>

<!-- Password Confirmation -->
<div class="form-group">
    <label class="col-md-4 control-label">Confirm password</label>

    <div class="col-md-6">
        <input type="password" class="form-control" name="password_confirmation">
    </div>
</div>

