<!-- Address -->
<div class="form-group">
    <label class="col-md-4 control-label">Address</label>

    <div class="col-sm-6">
        <input type="text" name="street_addr" class="form-control" value="{{ user.street_addr }}" />
    </div>
</div>

<!-- City -->
<div class="form-group">
    <label class="col-md-4 control-label">City</label>

    <div class="col-sm-6">
        <input type="text" name="city" class="form-control" value="{{ user.city }}" />
    </div>
</div>

<!-- State & postcode -->
<div class="form-group">
    <label class="col-md-4 control-label">State / Postal code</label>

    <!-- State -->
    <div class="col-sm-3">
        <input type="text" name="state_name" class="form-control" value="{{ user.state_name }}" placeholder="State" />
    </div>

    <!-- Postal code -->
    <div class="col-sm-3">
        <input type="text" name="zip" class="form-control" value="{{ user.zip }}" placeholder="Postal code" />
    </div>
</div>

<!-- Country -->
<div class="form-group">
    <label class="col-md-4 control-label">Country</label>

    <div class="col-sm-6">
        {{ form_select_country('country', user.country_id, {
            emptyOption: '',
            class: 'form-control',
            onChange: 'updatePlanPricing()'
        }) }}
    </div>
</div>
