{% set hasPaidPlans = subscribePlanList.hasPaidPlans %}

<!-- Basic profile -->
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                {% if hasPaidPlans %}
                    <span>Profile</span>
                {% else %}
                    <span>Register</span>
                {% endif %}
            </div>

            <div class="panel-body">
                <!-- Registration form -->
                {% partial 'account/fields-account' %}

                <!-- Terms and conditions -->
                <div data-common-form-submit>
                    <div class="form-group">
                        <div class="col-md-6 col-md-offset-4">
                            By registering you agree to the <a href="{{ 'terms'|page }}" target="_blank">terms of service</a>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6 col-md-offset-4">
                            <button class="btn btn-primary form-submit-btn">
                                <span>
                                    <i class="fa fa-btn fa-spinner fa-spin"></i> Registering
                                </span>

                                <span>
                                    <i class="fa fa-btn fa-check-circle"></i> Register
                                </span>
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
