{% set hasPaidPlans = subscribePlanList.hasPaidPlans %}

<!-- Basic profile -->
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                {% if hasPaidPlans %}
                    <span>Profile</span>
                {% else %}
                    <span>Register</span>
                {% endif %}
            </div>

            <div class="panel-body">
                <!-- Registration form -->
                {% partial 'account/register-common-form' %}
            </div>
        </div>
    </div>
</div>
