<div class="row" style="display:none" data-billing-form>
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">Billing Information</div>

            <div class="panel-body">
                <!-- Billing form -->
                {% partial 'account/fields-billing' onChangeCountry='updatePlanPricing()' %}

                <!-- Tax / Price info -->
                <div class="form-group">
                    <label class="col-md-4 control-label">&nbsp;</label>

                    <div class="col-md-6">
                        <div id="partialPlansPriceDetails" class="alert alert-info plan-price-details">
                            {% partial 'plans/price-details' plan=null %}
                        </div>
                    </div>
                </div>

                <!-- Terms and conditions -->
                <div class="form-group">
                    <div class="col-md-6 col-md-offset-4">
                        By registering you agree to the <a href="{{ 'terms'|page }}" target="_blank">terms of service</a>
                    </div>
                </div>

                <!-- Register button -->
                <div class="form-group">
                    <div class="col-md-6 col-md-offset-4">
                        <button type="submit" class="btn btn-primary form-submit-btn">
                            <span>
                                <i class="fa fa-btn fa-spinner fa-spin"></i> Registering
                            </span>

                            <span>
                                <i class="fa fa-btn fa-check-circle"></i> Register
                            </span>
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
