<!-- Name -->
<div class="form-group">
    <label class="col-md-4 control-label">Name</label>

    <div class="col-md-6">
        <input type="name" class="form-control" name="name">
    </div>
</div>

<!-- E-Mail Address -->
<div class="form-group">
    <label class="col-md-4 control-label">Email address</label>

    <div class="col-md-6">
        <input type="email" class="form-control" name="email">
    </div>
</div>

<!-- Password -->
<div class="form-group">
    <label class="col-md-4 control-label">Password</label>

    <div class="col-md-6">
        <input type="password" class="form-control" name="password">
    </div>
</div>

<!-- Password Confirmation -->
<div class="form-group">
    <label class="col-md-4 control-label">Confirm password</label>

    <div class="col-md-6">
        <input type="password" class="form-control" name="password_confirmation">
    </div>
</div>

<!-- Terms and conditions -->
<div data-common-form-submit>
    <div class="form-group">
        <div class="col-md-6 col-md-offset-4">
            By registering you agree to the <a href="{{ 'terms'|page }}" target="_blank">terms of service</a>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-6 col-md-offset-4">
            <button class="btn btn-primary form-submit-btn">
                <span>
                    <i class="fa fa-btn fa-spinner fa-spin"></i> Registering
                </span>

                <span>
                    <i class="fa fa-btn fa-check-circle"></i> Register
                </span>
            </button>
        </div>
    </div>
</div>
