{% set monthlyPlans = subscribePlanList.monthlyPlans %}
{% set yearlyPlans = subscribePlanList.yearlyPlans %}
{% set hasMonthlyAndYearlyPlans = monthlyPlans and yearlyPlans %}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">

            <div class="panel-heading">
                <div class="pull-left {{ hasMonthlyAndYearlyPlans ? 'btn-table-align' }}">
                    Subscription
                </div>

                {% if hasMonthlyAndYearlyPlans %}
                    <div class="pull-right">
                        <div class="btn-group" data-toggle="buttons" style="padding-top: 2px;">
                            <button
                                type="button" class="btn btn-default active"
                                data-toggle="tab"
                                data-target="#monthlyPlansContent">
                                <input type="radio" autocomplete="off" checked>
                                Monthly
                            </button>
                            <button
                                type="button"
                                class="btn btn-default"
                                data-toggle="tab"
                                data-target="#yearlyPlansContent">
                                <input type="radio" autocomplete="off" checked>
                                Yearly
                            </button>
                        </div>
                    </div>
                {% endif %}

                <div class="clearfix"></div>
            </div>

            <div class="panel-body spark-row-list">

                <!-- Selected plan value -->
                <input type="hidden" name="selected_plan" value="" data-error-alert="#planEmptyError" />

                <div id="planEmptyError" class="alert alert-danger" style="display: none">
                    Please select a plan from the list below to continue.
                </div>

                <!-- Available plans -->
                <div class="tab-content">
                    <div id="monthlyPlansContent" class="tab-pane active">
                        <table class="table table-borderless m-b-none">
                            <thead></thead>
                            <tbody>
                                {% partial 'plans/table-items' plans=monthlyPlans %}
                            </tbody>
                        </table>
                    </div>
                    <div id="yearlyPlansContent" class="tab-pane">
                        <table class="table table-borderless m-b-none">
                            <thead></thead>
                            <tbody>
                                {% partial 'plans/table-items' plans=yearlyPlans %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
