{% set monthlyPlans = subscribePlanList.monthlyPlans %}
{% set yearlyPlans = subscribePlanList.yearlyPlans %}
{% set hasMonthlyAndYearlyPlans = monthlyPlans and yearlyPlans %}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">

            <div class="panel-heading">
                <div class="pull-left {{ hasMonthlyAndYearlyPlans ? 'btn-table-align' }}">
                    Subscription
                </div>

                <!-- Plan tabs -->
                {% partial 'plans/tabs-heading' %}

                <div class="clearfix"></div>
            </div>

            <div class="panel-body spark-row-list">

                <!-- Available plans -->
                {% partial 'plans/tabs-content' %}

            </div>

        </div>
    </div>
</div>
