{% set monthlyPlans = subscribePlanList.monthlyPlans %}
{% set yearlyPlans = subscribePlanList.yearlyPlans %}
{% set hasMonthlyAndYearlyPlans = monthlyPlans and yearlyPlans %}

{{ form_ajax('onSubscribe', { id: 'accountRegisterForm', class: 'form-horizontal' }) }}
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="pull-left {{ hasMonthlyAndYearlyPlans ? 'btn-table-align' }}">
                Subscribe
            </div>

            <!-- Plan tabs -->
            {% partial 'plans/tabs-heading' %}

            <div class="clearfix"></div>
        </div>

        <div class="panel-body spark-row-list">
            <!-- Subscription Notice -->
            <div class="p-b">
                You are not subscribed to a plan. Choose from the plans below to get started.
            </div>

            <!-- Available plans -->
            {% partial 'plans/tabs-content' %}
        </div>
    </div>

    <div style="display:none" data-billing-form>
        <div class="panel panel-default">
            <div class="panel-heading">Billing Information</div>

            <div class="panel-body">
                <!-- Billing form -->
                {% partial 'account/fields-billing' %}

                <!-- Tax / Price info -->
                <div class="form-group">
                    <label class="col-md-4 control-label">&nbsp;</label>

                    <div class="col-md-6">
                        <div id="partialPlansPriceDetails" class="alert alert-info plan-price-details">
                            {% partial 'plans/price-details' plan=null %}
                        </div>
                    </div>
                </div>

                <!-- Register button -->
                <div class="form-group">
                    <div class="col-md-6 col-md-offset-4">
                        <button type="submit" class="btn btn-primary form-submit-btn">
                            <span>
                                <i class="fa fa-btn fa-spinner fa-spin"></i> Subscribing
                            </span>

                            <span>
                                <i class="fa fa-btn fa-check-circle"></i> Subscribe
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{ form_close() }}
