{{ form_ajax('onUpdateConfirm') }}
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Change Subscription</h4>
    </div>
    <div class="modal-body">
        <input type="hidden" name="selected_plan" value="{{ newPlan.id }}" />

        {% if samePlan %}
            <p>
                You are currently subscribed to <strong>{{ newPlan.name }}</strong>!
            </p>
        {% elseif isUpgrade %}
            <p>
                Would you like to upgrade to the <strong>{{ newPlan.name }}</strong> plan?
            </p>
            <p>
                The adjusted price for the first {{ newPlan.plan_type }} period will be {{ switchPrice|currency }}.
            </p>
        {% else %}
            <p>
                Would you like to downgrade to the <strong>{{ newPlan.name }}</strong> plan?
            </p>
            <p>
                You can make this change at no extra cost.
            </p>
        {% endif %}
    </div>
    <div class="modal-footer">
        <button
            class="btn btn-default"
            data-dismiss="modal">
            Close
        </button>
        {% if not samePlan %}
            <button
                class="btn btn-primary"
                type="submit"
                data-attach-loading>
                Yes please!
            </button>
        {% endif %}
    </div>
{{ form_close() }}
