title = "Register Payment"
url = "/register/pay/:hash"
layout = "default"

[subscribePayment]
==
{% set isCardOptional = not isCardUpfront %}

<div class="spark-screen container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            {% if invoice %}
                {% if user.subscriptionIsTrial %}
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <div class="pull-left {{ isCardOptional ? 'btn-table-align' }}"">
                                <i class="fa fa-btn fa-clock-o"></i>Free Trial
                            </div>
                            {% if isCardOptional %}
                                <div class="pull-right" style="padding-top: 2px;">
                                    <a href="{{ 'dashboard'|page }}" class="btn btn-primary">Skip this step</a>
                                </div>
                            {% endif %}
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-body">
                            You are on a free trial, we will collect the payment 
                            <strong>{{ user.subscriptionTrialEnd.toFormattedDateString|default('soon') }}</strong>.
                        </div>
                    </div>
                {% endif %}
                {% if hasProfile or invoice.isPaymentProcessed %}
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            Account set up complete
                        </div>
                        <div class="panel-body">
                            <p class="text-success">
                                {% if invoice.isPaymentProcessed %}
                                    This invoice has been paid. Thank-you!
                                {% else %}
                                    Your account has been set up. Thank-you!
                                {% endif %}
                            </p>
                            <p>
                                <a href="{{ 'dashboard'|page }}" class="btn btn-success">Go to dashboard</a>
                            </p>
                        </div>
                    </div>
                {% else %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Payment method
                        </div>
                        <div class="panel-body">
                            {% partial 'payment/pay-method' %}
                        </div>
                    </div>
                {% endif %}
            {% else %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Error
                    </div>
                    <div class="panel-body">
                        <div class="payment-not-found">
                            <p>Sorry, that payment could not be found</p>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
