description = "Default layout"

[session]
[notifications]
includeAssets = "0"
==
<!DOCTYPE html>
<html lang="en">
    <head>
        {% partial 'site/meta' %}
    </head>
    <body class="with-navbar">

        <!-- Flash messages -->
        {% partial 'site/flash-messages' %}

        <div id="spark-app">
            {% if user %}
                {% partial 'nav/user' %}
            {% else %}
                {% partial 'nav/guest' %}
            {% endif %}

            {% page %}

            {% partial 'site/scripts' %}
        </div>

    </body>
</html>
