description = "Home layout"
==
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ this.page.title }}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet' type='text/css'>
        {% styles %}
        <link href="{{ [
            'assets/less/layouts/home.less'
        ]|theme }}" rel="stylesheet">
    </head>
    <body>
        <!-- Flash messages -->
        {% partial 'site/flash-messages' %}

        {% page %}
    </body>
</html>
