title = "Subscription Payment"
url = "/settings/subscribe/pay/:hash"
layout = "settings"

[subscribePayment]

[resources]
vars[activeSetting] = "subscribe"
==
{% if invoice %}
    {% if hasProfile %}
        {% if invoice.isPaymentProcessed %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    Payment complete
                </div>
                <div class="panel-body">
                    {% partial 'payment/pay-success' %}
                </div>
            </div>
        {% elseif user.subscriptionIsTrial %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    Trial started
                </div>
                <div class="panel-body">
                    <h4 class="text-success">
                        We will deduct the payment {{ user.subscriptionTrialEnd.toFormattedDateString|default('soon') }}
                    </h4>
                </div>
            </div>
        {% else %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    Payment error
                </div>
                <div class="panel-body">
                    <div class="payment-invoice-error">
                        <h4 class="text-danger">
                            We were unable to automatically pay for this subscription.
                        </h4>
                        <p>
                            The payment profile for your account returned an error. Here are your options:
                        </p>
                        <ul>
                            <li>
                                <a href="{{ 'settings/invoice-payment'|page }}">Make the payment manually</a>
                            </li>
                            <li>
                                <a href="{{ 'settings/payment-methods'|page }}">Manage payment methods</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        {% endif %}
    {% else %}
        <div class="panel panel-default">
            <div class="panel-heading">
                Payment method
            </div>
            <div class="panel-body">
                {% partial 'payment/pay-method' %}
            </div>
        </div>
    {% endif %}
{% else %}
    <div class="panel panel-default">
        <div class="panel-heading">
            Error
        </div>
        <div class="panel-body">
            <div class="payment-not-found">
                <p>Sorry, that payment could not be found</p>
            </div>
        </div>
    </div>
{% endif %}
