<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">{{ plan.name }}</h4>
</div>
<div class="modal-body">
    <ul class="plan-feature-list p-b-0 m-b-0">
        {% for feature in plan.features %}
            <li>
                {{ feature }}
            </li>
        {% endfor %}
    </ul>
</div>
<div class="modal-footer">
    <button
        class="btn btn-default"
        data-dismiss="modal">
        Close
    </button>
</div>
