{% set monthlyPlans = subscribePlanList.monthlyPlans %}
{% set yearlyPlans = subscribePlanList.yearlyPlans %}
{% set hasMonthlyAndYearlyPlans = monthlyPlans and yearlyPlans %}

<!-- Selected plan value -->
<input type="hidden" name="selected_plan" value="" data-error-alert="#planEmptyError" />

<div id="planEmptyError" class="alert alert-danger" style="display: none">
    Please select a plan from the list below to continue.
</div>

<!-- Tab content -->
<div class="tab-content">
    <div id="monthlyPlansContent" class="tab-pane active">
        <table class="table table-borderless m-b-none">
            <thead></thead>
            <tbody>
                {% partial 'plans/table-items' plans=monthlyPlans %}
            </tbody>
        </table>
    </div>
    <div id="yearlyPlansContent" class="tab-pane">
        <table class="table table-borderless m-b-none">
            <thead></thead>
            <tbody>
                {% partial 'plans/table-items' plans=yearlyPlans %}
            </tbody>
        </table>
    </div>
</div>
